<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<title>审核详情页</title>		
		<link href="../../css/news/news_particulars.css" rel="stylesheet" />
	</head>
	<body>
		<ol class="breadcrumb">
			<li>审核</li>
			<li class="active">审核数据</li>
		</ol>
		<div class="button">
			<button type="button" class="btn btn-primary">返回</button>
			<button type="button" class="btn btn-primary">编辑</button>
			<button type="button" class="btn btn-primary">删除</button>
			<button type="button" class="btn btn-primary" >标记错误数据</button>
			<button type="button" class="btn btn-primary">通过审核</button>
			<button type="button" class="btn btn-primary">下一个</button>
			<button type="button" class="btn btn-primary" >上一个</button>
		</div>
		<div class="clearfix"></div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
				<label for="inputTell" class="col-sm-2 control-label">关联小区</label>
				<div class="col-sm-5" id="centerDIV">
					雍和家园
				</div>
            </div>
            <div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">分类</label>
				<div class="col-sm-5" id="categoryDIV">
					餐饮
				</div>
            </div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">店名</label>
				<div class="col-sm-5" id="nameDIV">
					老虎饺子馆
				</div>
            </div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">地址</label>
				<div class="col-sm-5" id="addressDIV">
					雍和家园25号
				</div>
            </div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">联系电话</label>
				<div class="col-sm-5" id="phoneDIV">
					010 - 60245879
				</div>
            </div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">商户地标</label>
				<div class="col-sm-5 map">
				</div>
			</div>
        </form>      
	</body>
</html>