<!DOCTYPE html>
<html>
	<head>
		<title>添加活动</title>		
		<link href="css/add_activity/add_activity.css" rel="stylesheet" />
		<SCRIPT>
		  $(function(){
			all_picture();
		});
		</SCRIPT>
	</head>
	<body>		
		<ol class="breadcrumb">
			<li>活动</li>
			<li class="active">添加活动</li>
		</ol>
        <form class="form-horizontal" role="form">
		<input type="hidden" name="type" value='all'><!-- 别删了，参与活动那块要用的 -->
            <div class="form-group">
				<label for="inputUserName" class="col-sm-2 control-label">
					选择模板
				</label>
				<div class="col-sm-4">
					<select name="user_templet" class="form-control">
						<option value="1">运动</option>
						<option value="2">休闲</option>
						<option value="3">娱乐</option>
					</select>
				</div>
            </div>
            <div class="activityContent">
	            <div class="activityclass">
	            	<ul>
	            		<li><span>高尔夫</span></li>
	            		<li><span>乒乓球</span></li>
	            		<li><span>保龄球</span></li>
	            		<li><span>羽毛球</span></li>
	            		<li><span>足球</span></li>
	            		<li><span>台球</span></li>
	            		<li><span>跳舞</span></li>
	            		<li><span>网球</span></li>
	            		<li><span>冰球</span></li>
	            	</ul>
	            </div>
	           <div class="tab">
		            <div class="activityintro">
						<ul>
							<li  class="activityli">简介</li>
							<li>建议</li>
						</ul>
					</div>
					<div class="tab_content">
						<div class="classsport">
							“高尔夫”是荷兰文kolf的音译，意思是"在绿地和新鲜氧气中的美好生活"。高尔夫球是一种以棒击球入穴的球类运动。如今，高尔夫球运动已经成为贵族运动的代名词，但是它是由一群牧羊人发明的！“高尔夫”原意为“在绿地和新鲜空气中的美好生活”。它是一种把享受大自然乐趣、体育锻炼和游戏集于一身的运动。
						</div>
						<div>
							“高尔夫”是荷兰文kolf的音译，意思是"在绿地和新鲜氧气中的美好生活"。高尔夫球是一种以棒击球入穴的球类运动。
						</div>
					</div>
	          </div>
       		</div>
			<div class="form-group">
				<label for="inputTell" class="col-sm-2 control-label">
					所在小区
				</label>
				<div class="col-sm-4">
					<select name="current_community" class="form-control">
						<option value="1">雍和家园</option>
						<option value="2">河畔丽景</option>
						<option value="3">6666</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="inputName" class="col-sm-2 control-label">
					活动名称
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="activity_name" id="inputName" placeholder="请输入活动名">
				</div>
			</div>
				<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">
					活动地址
				</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" name="address" id="inputAddress" placeholder="请输入活动地址">
				</div>
			</div>
			<div class="form-group">
				<label for="inputAddress" class="col-sm-2 control-label">
					活动时间
				</label>
				<div class="col-sm-4 input-append date reset_col_sm_4" id="dp3" data-date="" data-date-format="yyyy-mm-dd">
					<div class="dateStar" style="display:inline-block;border:1px solid #ccc">
						<div style="display:inline-block; position:relative;border:1px solid #ccc">
							<input class="datepicker form-control timeclass" size="16" name="activity_time" type="text" value="" style="display:inline-block">
							<span class="add-on">
								<i><img src="images/calendar.jpg" /></i>
							</span>
						</div>
						<div style="display:inline-block;">
							<input style="display:inline-block;border:1px solid red">
						</div>
					</div>
					<span>至</span>
					<div class="dateEnd" style="display:inline-block;border:1px solid #ccc">
						<div  style="display:inline-block; position:relative;border:1px solid #ccc">
							<input class="datepicker form-control timeclass" size="16" name="birthdate" type="text" value="" style="display:inline-block">
							<span class="add-on"><i><img src="images/calendar.jpg" /></i></span>
						</div>
						<div style="display:inline-block;">
							<input style="display:inline-block;border:1px solid red">
						</div>
					</div>
				</div>
			</div>
        </form>
		<button type="button" class="btn btn-primary" onClick="cancel_activity()">取消</button>
		<button type="button" class="btn btn-primary" onClick="creat_activity()">提交</button>
	</body>
	<script type="text/javascript">
			$('.tab').changeTab();
			
			$(".datepicker").datepicker({
				format: 'yyyy.mm.dd',
		        weekStart: 1,
		        autoclose: false,
		        todayBtn: 'linked',
		        language: 'zh-CN'
			});

			var d = new Date(); 
			var year=d.getFullYear();
			var month=(d.getMonth() + 1)>10?(d.getMonth() + 1):'0'+(d.getMonth() + 1);
			var day=d.getDate()>10?d.getDate():'0'+d.getDate();
			$("[name='birthdate']").val(year+"-"+month+"-"+day);
		
		
		//取消
		function cancel_activity(){
			$(".container_right").load('pages/activity/all_activity.html');
		};
	</script> 
</html>